.cardList {
    width: 800px;
}

.cardWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
}

.cardWrapper .btnContainer {
    display: flex;
    row-gap: 8px;
    flex-direction: column;
    margin-left: 16px;
}

.btnNewPost {
    margin-bottom: 16px;
}